.top {
    background: #202020;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.div_foot {
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
    line-height: 50px;
    width: 100%;
    background: #EEEEEE;
}

.rights {
    text-align: right;
}

.rightf {
    float: right;
}

a {
    text-decoration: none
}

.a1:link {
    color: #EEEEEE;
}

.a1:visited {
    color: #EEEEEE;
}

.a1:hover {
    color: #BBBBBB;
}

.a1:active {
    color: #BBBBBB;
}

.a2:link {
    color: #707070;
}

.a2:visited {
    color: #707070;
}

.a2:hover {
    color: #A0A0A0;
}

.a2:active {
    color: #A0A0A0;
}

.info {
    width: 40%;
    text-align: left;
    padding-left: 250px;
}

.info2 {
    width: 40%;
    text-align: right;
    padding-right: 0px;
    float: right;
}

.info3 {
    width: 40%;
    text-align: left;
    padding-left: 0px;
}

.leftl {
    position: fixed;
    left: 10px;
    text-align: left;
    width: auto;
    background: #BBBBBB;
    float: left;
}

body {
    background: #EEEEEE;
}